@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    font-family: 'Poppins'!important;
}

.body {
    padding: 0px 10%;
}

.mobile-nav {
    display: none;
    z-index: 10;
}

.mobile-nav-items {
    display: none;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
    margin: 0px;
}

h4 {
    font-size: 20px;
    margin: 0px;
    font-weight: 400;
}

button {
    font-family: 'Poppins', sans-serif!important;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/**/
.logo {
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-items {
    display: flex;
    gap: 50px;
    font-size: 20px;
}

/*CTA*/
.cta button {
    background-color: white;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 120px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black!important;
}

.cta {
    padding-top: 50px;
    padding-bottom: 120px;
}

.cta button img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.cta h1 {
    text-align: center;
    padding: 0px 10%;
    line-height: 60px;
}

.cta .anime {
    background: black;
    color: white;
    padding: 2.5px 15px;
}

/*Porfolio*/
.portfolio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px rgb(185, 185, 185);
}

.portfolio h3 {
    margin-top: 5px;
}

.portfolio-cover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.works {
    padding-bottom: 150px;
}

.works span {
    background: black;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
}

.services {
    background-color: black;
    padding: 0px 10%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services span {
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 25px;
}

/*Imported CSS - Services*/

.flex-wwd {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 100px;
    row-gap: 20px;
}

/*WWD Boxes*/
.wwd-boxes {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.wwd-boxes > div:nth-child(3) {
    text-align: center;
    margin: 10px 0px;
}

.wwd-center-icon {
    width: 50px;
    height: 50px;
}

.wwd-arrow {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    width: 30px;
    height: 30px;
}

/**************/
.main-wwd {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    text-align: center;
}

.wwd-parent, .what-we-do {
    background-color: #f0f0f0!important;
}

.wwd-parent {
    padding-bottom: 100px;
}

/*Get n touch*/
.git-container {
    padding: 80px 15vw;
    background-color: white;
}

.git-main {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 0px auto;
}

.git-sub {
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 10px;
}

.git-container input {
    display: block;
    width: -webkit-fill-available;
    height: 50px;
    text-indent: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0px;
}

.git-container textarea {
    display: block;
    width: -webkit-fill-available;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}

.git-container .cta {
    width: 100%!important;
    margin-bottom: 20px;
}

.git-container .sub-bottom {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    margin: 0px auto;
}

/*CTA - For Form*/
.cta-btn {
    color: white;
    background-color: black;
    display: flex;
    min-height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 5px 5px white;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 0px;
}

.cta-btn img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
}

.cta-btn span {
    padding: 0px 55px;
    /* background: rebeccapurple; */
    text-align: center;
    font-weight: bold;
}

.footer-main {
    font-size: 25px;
    font-weight: bold;
}

.footer-sub {
    font-size: 20px;
    margin: 20px 0px;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons img {
    width: 25px;
    height: auto;
}

footer {
    display: grid;
    gap: 10vw;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-right {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-right img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 2.5px;
}


/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*Media Query*/ 
@media (max-width: 800px) {

    .body {
        padding: 0px 20px;
        position: relative;
    }

    /*padding header*/
    .cta h1 {
        text-align: center;
        padding: 0px 10px;
        line-height: 60px;
    }

    /*Navigation*/
    .nav-items {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav div img {
        width: 30px;
        height: 30px;
        float: right;
    }

    .mobile-nav-items {
        background: white;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        gap: 50px;
    }

    .services {
        padding: 50px 20px 100px 20px;
    }

    .flex-wwd {
        display: grid;
        grid-template-columns: 1fr;
    }

    .portfolio-cover {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .git-container {
        padding: 80px 20px;
        background-color: white;
    }

    .git-main, .git-sub {
        width: 100%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 20px;
    }
} 


/* @media (max-width: 500px) {
    .flex-wwd {
        display: grid;
        grid-template-columns: 1fr;
    }

    .portfolio-cover {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}  */